<div id="footer">
    <a href="https://github.com/pioneerspacesim/pioneer/blob/master/AUTHORS.txt">Copyright © 2008-2026 Pioneer Developers. Pioneer is Free Software.</a>
  {{ $baseURL := .Site.BaseURL }}
    <!-- <div class="languages">
         <a href="{{ .Permalink }}"><img src="{{ $baseURL }}/flags/{{ .Lang }}.png"/></a>
         {{ if .IsTranslated }}
         {{ range .Translations }}
         <a href="{{ .Permalink }}"><img src="{{ $baseURL }}/flags/{{ .Lang }}.png"/></a>
         {{ end}}
         {{ end }}

         </div> -->
</div>
